<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<libs>
		<PHPUnit>
			<plugin>PHPUnit</plugin>
			<deploy>
				<type><![CDATA[svn]]></type>
				<tag><![CDATA[3.6.7]]></tag>
				<src><![CDATA[http://svn.rbc.ru/ppc/externals/PHPUnit/${config.libs.PHPUnit.deploy.tag}]]></src>				
				<dst>${config.paths.libs}/phpunit/${config.libs.PHPUnit.deploy.tag}</dst>
				<current>${config.paths.libs}/phpunit/current</current>
				<svn>
					<username>${config.svn.username}</username>
					<password>${config.svn.password}</password>
				</svn>
			</deploy>
			<configure></configure>
			<link></link>
		</PHPUnit>
	</libs>
</config>