<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<project_name>realty</project_name>
	<build_type>${config.phing.build.type}</build_type>
	<paths>
		<root>/www/project.dv</root>

		<public>${config.paths.root}/public</public>
		<protected>${config.paths.root}/protected</protected>

		<build>${config.phing.project.basedir}</build>
		<etc>${config.paths.root}/etc</etc>
		<data>${config.paths.root}/data</data>
		<libs>${config.paths.root}/libs</libs>
		<scripts>${config.paths.root}/scripts</scripts>
		<shared>${config.paths.root}/shared</shared>
		<tmp>${config.paths.root}/tmp</tmp>
		<logs>${config.paths.tmp}/logs</logs>
	</paths>
	<hosts>
		<root></root>
		<pics>${config.hosts.root}</pics>
	</hosts>
	<svn>
		<url>https://TheRatG@github.com/TheRatG</url>
		<username></username>
		<password></password>
	</svn>
	<system>
		<bin>
			<python>python</python>
		</bin>
	</system>
	<server_admin>
		<email></email>
	</server_admin>
	<libs></libs>
</config>